<div class="category-container m-3 w-50">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedCategory">
        <option [value]="cat.id" *ngFor="let cat of productCategory"> {{cat.name}} </option>
      </select>
</div>
<div> selected cat : {{selectedCategory}}</div>


<app-card [selectedCategory]="selectedCategory"  (AddProduct)="OnproductsListSelectedChange($event)"></app-card>
<h3>The item {{recivedproductsListSelected }} </h3>
<!-- <app-cart></app-cart> -->
