<div class="d-flex position-relative p-5">
    <img src="https://img.freepik.com/free-psd/3d-illustration-person-tank-top_23-2149436199.jpg?size=338&ext=jpg&ga=GA1.2.1264324647.1660309253" class="flex-shrink-0 me-3" alt="avatar">
    <div>
        <h1>{{userName}}</h1>
      <h5 class="mt-0">Custom component with stretched link</h5>
      <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
      <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>

      <a  class="btn btn-primary stretched-link" [routerLink]="['/user/edituserprofile']"  routerLinkActive="active" >Edit User Profile</a>
    </div>
  </div>