<a  class="btn btn-primary m-2 ms-5 "  >change image</a>

<div class="d-flex position-relative p-5 pt-0">
    <img src="https://img.freepik.com/free-psd/3d-illustration-person-tank-top_23-2149436199.jpg?size=338&ext=jpg&ga=GA1.2.1264324647.1660309253" class="flex-shrink-0 me-3" alt="avatar">

    <div>
        <div class="d-flex m-2 p-2">
            <form>
            <!-- <h3 >User Name : </h3> -->
            <span class="input-group-text">{{userName}}</span>
         
            <input type="text" class="form-control" name="userName" id="userName" [(ngModel)]="userName">

        </form>
        </div>
 
      <h5 class="mt-0">Custom component with stretched link</h5>
      <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
      <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
      <button  class="btn btn-primary mt-5 " (click)="edituser()" >Update User Profile</button>

    </div>

</div>

